h1{
    padding: 10px;
    margin: 20px;
    font-family: Arial;
    background-color: rgb(144, 212, 17);
    border-radius: 10px;
}

h2{
    font-family: Arial;
    padding: 10px;
    margin: 20px;
    margin-top: -10px;
}

.flovers{
    display: flex;
}

.flover{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border: solid 2px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 30%;
    padding: 20px;
    align-items: center;
}
p{
    font-family: Arial;
    font-weight: 500;
    border: solid 1px;
    padding: 10px;
    border-radius: 10px;
}