.menu {
    background-color: rgb(144, 212, 17);
    padding: 15px;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-list {
    display: flex;
  }
  .menu a{
      margin: 15px;
      color: black;
      font-weight: 600;
      font-family: Arial;
      font-size: 22px;
      padding: 10px;
  }

  .menu a:hover{
    background-color: rgb(74, 199, 1);
    border-radius: 10px;
}

.main{
  text-align: center;
  margin-top: 100px;
}

img{
  margin: 0 25%;
}
